// img {
//   max-height: 100px;
// }
.c-language-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 100px;
  max-width: 100%;
}
.u-language {
  width: calc(100% / 3);
  margin: 10px;
  padding: 10px;
  height: 20%;
  align-content: center;
  &_img {
    max-height: 100px;
  }
}
.c-profile-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e3eef8;
  max-width: 100%;
}
