img {
  max-height: 100px;
}

.u-language {
  font-family: "Cocogoose";
  font-weight: 700;
  font-size: 32px;
  color: #778899;
  text-align: center;
  text-decoration: none;
}

.c-profile-container {
  align-content: center;
  justify-content: center;
}

.c-padding {
  max-width: 100%;
}
