


.searchbar{
    position: absolute;
    left: 10%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #2d2a26;
    
    &_input{
        background-color: #ffffff00;
        margin-left: 5px;
        padding-left: 36px;
        outline: none;
    }
    &_input:focus{
        border-color: pink;
    }
    &_icon{
        position: absolute;
        left: 10px;
    }
  }